PORT=4000
CLIENT_ORIGIN=http://localhost:5173
DATASET_URL=https://docs.google.com/spreadsheets/d/1qWwxA1IpWQfhUJialshiwMeJ2kFtTto6DvHlSyCoDlA/gviz/tq?tqx=out:csv&gid=0
COUNSELLOR_DATASET_URL=https://docs.google.com/spreadsheets/d/1qWwxA1IpWQfhUJialshiwMeJ2kFtTto6DvHlSyCoDlA/gviz/tq?tqx=out:csv&gid=746552781
DEFAULT_VICTIM_ID=V1001
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
